:root {
    --bor-rad: 15px;
    --dark-purple: #1f2029;
    --light-purple: #302E3F;
    --white-ish: #D7D9CE;
    --svg-background: #2a2b38;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: "Roboto", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji",
    "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    background-color: var(--dark-purple);
    color: var(--white-ish);
}

p {
    color: #b3b3b3;
    font-weight: 300;
}

h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
    font-family: "Roboto", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji",
    "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

a {
    -webkit-transition: 0.3s all ease;
    -o-transition: 0.3s all ease;
    transition: 0.3s all ease;
}

a,
a:hover {
    text-decoration: none !important;
}

.content-switch {
    padding: 7rem 0;
}

h2 {
    font-size: 20px;
}

.form-control:active,
.form-control:focus {
    outline: none;
    -webkit-box-shadow: none;
    box-shadow: none;
}

#calendar {
    margin: 0 auto;
    background-color: pink;
}

#calendar .fc-view-container {
    background-color: var(--white-ish);
    -webkit-box-shadow: 0 15px 30px 0 rgba(0, 0, 0, 0.2);
    box-shadow: 0 15px 30px 0 rgba(0, 0, 0, 0.2);
}

#calendar .fc-toolbar.fc-header-toolbar .fc-center {
    display: block;
}

#calendar-container {
    position: relative;
    top: 0;
    left: 20px;
    right: 20px;
    bottom: 20px;
    margin-right: 2.5em;
}

.fc-header-toolbar {
    /*
      the calendar will be butting up against the edges,
      but let's scoot in the header's buttons
      */
    padding-top: 1em;
    padding-left: 1em;
    padding-right: 1em;
}


/* ====================================================== myStyles ======================================================  */

body {
    margin: 0;
    padding: 0;
    font-family: 'Arial', sans-serif;
}

#wrapper {
    display: flex;
}

#content {
    width: 100%;
    padding: 20px;
}

.navbar-brand {
    cursor: pointer;
}

#timer {
    color: #28a745;
}

#create_event_form h2::before,
#create_event_form h2::after {
    content: '';
    position: absolute;
    width: 45%;
    height: 2px;
    border-radius: 1000px;
    background-color: var(--dark-purple);
}

#create_event_form h2::before {
    left: 0;
}

#create_event_form h2::after {
    right: 0;
}

.navbar,
.container {
    border-radius: var(--bor-rad);
    color: var(--white-ish);
    box-shadow: inset 0 0 5px var(--dark-purple);
}


.sidebar,
.navbar,
.bg-purple-svg,
.modal-content,
#profile .card-body,
.accordion-collapse,
#accordionFlushExample,
.swal2-popup.swal2-modal,
.setting-dropdown-menu{
    background-color: var(--svg-background);
    background-image: url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/1462889/pat.svg');
    background-position: bottom center;
    background-repeat: no-repeat;
    background-size: 300%;
}

#create-event-container,
#create-recoupment-container {
    border-radius: var(--bor-rad);
    backdrop-filter: blur(10px);
    color: var(--white-ish);
}

#create-event-container label:not(#create-event-container #create-event + label),
#create-recoupment-container label:not(#create-recoupment-container #recoupment + label) {
    background-color: var(--dark-purple);
    color: var(--white-ish);
}

input[type=checkbox]:checked {
    background-color: var(--dark-purple);
    border-color: var(--white-ish);
    color: var(--white-ish);
}

.btn {
    background-color: var(--dark-purple);
    border-color: var(--white-ish);
    transition: .3s ease-in-out;

}

.btn:hover:not(.btn-not) {
    border: 1px solid #302E3F;
    background: var(--white-ish);
    color: #302E3F;
}

.btn-not:hover {
    color: var(--dark-purple);
    background: rgb(255, 255, 255, .6)
}

.sidebar {
    position: relative;
    width: 250px;
    min-height: 100vh;
    color: var(--white-ish);
    transition: all 0.3s;
    border-top-right-radius: var(--bor-rad);
    border-bottom-right-radius: var(--bor-rad);
    box-shadow: inset -5px 0 5px var(--dark-purple);
}

.sidebar {
    padding: .5em 1em;
}

.sidebar ul.components {
    padding: 20px 0;
    border-bottom: 1px solid #818181;
}

.sidebar ul p {
    color: var(--white-ish);
    padding: 10px;
}

.sidebar .sidebar-li {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.sidebar ul li a {
    padding: 10px;
    font-size: 1.1em;
    display: block;
    color: var(--white-ish);
}

.sidebar ul li.active {
    background-color: var(--dark-purple);
}

.sidebar ul li.active:first-child {
    border-top-left-radius: var(--bor-rad);
    border-top-right-radius: var(--bor-rad);
}

.sidebar ul li.active:last-child {
    border-bottom-left-radius: var(--bor-rad);
    border-bottom-right-radius: var(--bor-rad);
}

.sidebar ul li.active a {
    color: var(--white-ish);
}

.sidebar .sidebar-li {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.sidebar .sidebar-li button {
    color: var(--white-ish);
    font-weight: 400;
    background-color: var(--svg-background);
    background-image: url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/1462889/pat.svg');
    background-position: bottom center;
    background-repeat: no-repeat;
    text-transform: capitalize;
    scale: 1;
}

.sidebar .sidebar-li button i {
    display: inline;
    margin: 0 auto;
    font-size: small;
}

.sidebar .sidebar-li button:hover {
    background-color: var(--svg-background);
    background-image: url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/1462889/pat.svg');
    background-position: bottom center;
    background-repeat: no-repeat;
    color: var(--white-ish);
    box-shadow: inset 0 0 .5em 3px var(--white-ish);
    scale: .98;
}

.sidebar .sidebar-li button:active {
    box-shadow: inset 0 0 .8em 5px var(--white-ish);
    scale: .90;
}

.sidebar-header a {
    width: 100%;
    color: var(--white-ish);
}

.sidebar-header {
    transition: 250ms ease-in-out;
    border-radius: var(--bor-rad);

}

.sidebar-header:hover {
    scale: .95;
    box-shadow: inset 0 0 .8em var(--dark-purple);
}

.btn-slide,
.btn-slide *,
.btn-slide :after,
.btn-slide :before,
.btn-slide:after,
.btn-slide:before {
    border: 0 solid;
    box-sizing: border-box;
}

.btn-slide {
    -webkit-tap-highlight-color: transparent;
    background-color: var(--dark-purple);
    background-image: none;
    color: var(--white-ish);
    cursor: pointer;
    font-weight: 600;
    margin: 0;
    -webkit-mask-image: -webkit-radial-gradient(#000, var(--white-ish));
    border-radius: 99rem;
    overflow: hidden;
    padding: 0.5em 1em;
    border: 2px solid var(--white-ish);
    position: relative;
}

.btn-slide [hidden] {
    display: none;
}

.btn-slide span {
    mix-blend-mode: difference;
}


.btn-slide:not(.timerBtn):before {
    aspect-ratio: 1;
    background: var(--white-ish);
    border-radius: 50%;
    content: "";
    left: -100%;
    position: absolute;
    top: 50%;
    transform: translateY(-50%) scale(1);
    transform-origin: left center;
    transition: transform 0.2s ease;
    width: 100%;
}

.btn-slide:hover:before {
    transform: translateY(-50%) scale(2);
}

/*  ====================================================== Checkbox Styles ====================================================== */
input.lab-switch {
    -webkit-appearance: none;
    outline: 3px solid var(--white-ish);
    height: 40px;
    width: 7rem;
    border-radius: 999rem;
    cursor: pointer;
    scale: 1;
    background: var(--dark-purple);
}


input.lab-switch::before {
    content: "";
    height: 2rem;
    width: 2rem;
    background-color: var(--white-ish);
    position: absolute;
    margin: auto;
    top: 0;
    left: .3rem;
    bottom: 0;
    border-radius: 50%;
    scale: 1;
    transition: 0.15s;
}

input.lab-switch::after {
    content: attr(data-theory);
    position: absolute;
    font-size: 1rem;
    top: 25%;
    right: 0.8rem;
    color: var(--white-ish);
    font-family: "SF Pro Text", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
    font-weight: bold;
    letter-spacing: 0.004em;
}

input.lab-switch:checked {
    background: var(--light-purple);
    box-shadow: inset 2px 2px 5px var(--white-ish),
    inset -2px -2px 5px black;
}


input.lab-switch:checked::before {
    left: 4.7rem;
    box-shadow: none;
}

input.lab-switch:checked::after {
    content: attr(data-lab);
    left: 0.8rem;
    color: #f5f5f7;
}

/*  ====================================================== DataTable ====================================================== */
#dataTable_wrapper *,
#recoupmentDataTable * {
    color: var(--white-ish);
}

#dataTable_wrapper label,
#recoupmentDataTable label {
    border-radius: var(--bor-rad);
    background: var(--dark-purple);
    padding: .5em 1em;
}

#dataTable_wrapper select,
#recoupmentDataTable select {
    background: var(--white-ish);
    color: var(--dark-purple);
}

#dataTable_wrapper select option,
#recoupmentDataTable select option {
    color: var(--dark-purple);
}

#dataTable_wrapper .pagination .pagination_button,
#recoupmentDataTable .pagination .pagination_button {
    background-color: red !important;
}

#edit-a:hover i[class^="fas fa-check-circle"] {
    color: forestgreen;
}

#edit-a,
#delete-a {
    font-size: small;
}

#edit-a:hover,
#delete-a:hover,
.modal-footer button,
.modal-footer a {
    background-color: var(--dark-purple);
    color: var(--white-ish);
    box-shadow: inset 0 0 .5em var(--white-ish);
    scale: 1.05;
}

#delete-a:hover .fas,
.modal-footer button[data-bs-dismiss="modal"]:hover .far,
.modal-footer a[data-bs-dismiss="modal"]:hover .far {
    color: darkred;
}

.form-outline textarea {
    background-color: var(--light-purple);
    color: var(--white-ish);
}

.form-outline textarea:focus {
    outline: none !important;
    border: 1px solid var(--white-ish);
    box-shadow: 0 0 5px var(--white-ish);
    background: var(--light-purple);
    color: var(--white-ish);
}

.modal-footer button[type="submit"]:hover,
.modal-footer button[data-bs-dismiss="modal"]:hover {
    background: var(--dark-purple);
    color: inherit;
}

.modal-footer button[type="submit"]:hover .far,
.modal-footer a[type="submit"]:hover .far {
    color: forestgreen;
}

.Pending,
.Approved,
.Denied {

}

#recoupmentDataTable .Pending {
    position: relative;
    color: darkorange;
    animation: animDot 3s infinite ease-in-out;
}

#recoupmentDataTable .Approved {
    text-shadow: 0 0 3px forestgreen;
    color: forestgreen;
}

#recoupmentDataTable .Denied {
    text-shadow: 0 0 3px darkred;
    color: darkred;
}

@keyframes animDot {
    from {
        text-shadow: 0 0 5px currentColor;
    }
    50% {
        text-shadow: 0 0 2px currentColor;
    }
    to {
        text-shadow: 0 0 5px currentColor;
    }
}

#profile * {
    color: var(--white-ish);
    transition: 250ms ease-in-out;
}

#profile .card-header {
    background-color: var(--dark-purple);
}

#profile .card-body {
    border-bottom-left-radius: inherit;
    border-bottom-right-radius: inherit;
    background-color: var(--light-purple);
}

#profile :focus {
    border: none;
    box-shadow: 0 0 .5em currentColor;
}

#profile .form-control {
    background: var(--dark-purple);
}

#accordionFlushExample h2.accordion-header{

}
#accordionFlushExample h2.accordion-header button {
    background: var(--light-purple);
    color: var(--white-ish);
    font-weight: bold;

}
#accordionFlushExample .accordion-body {
    background: var(--dark-purple);
}

.swal2-popup.swal2-modal * {
    color: var(--white-ish);
}
.swal2-popup.swal2-modal button.swal2-confirm{
    background: var(--dark-purple);
    border-radius: var(--bor-rad);
}
.swal2-popup.swal2-modal button.swal2-confirm:hover,
.swal2-popup.swal2-modal button.swal2-confirm:focus{
    outline: 1px solid var(--white-ish);
}
.setting-dropdown-menu  a{
    color: var(--white-ish);
}
#profile.card.mb-4 input,
#profile.card.mb-4 input::placeholder{
    color: var(--white-ish);
}
#profileForm #deleteBtn{
    background: darkred;
    color: var(--white-ish);
    box-shadow: none;
}
#profileForm #deleteBtn:hover{
    box-shadow: inset 0 0 .5em var(--dark-purple);
}
